.search_field {
    width: 60%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    color: #9DBFAF;
  }
  
  .search_field:focus{
    color: #00B4CC;
  }
  .heading{
    font-weight: lighter;
    font-size: 54px;
    font-family: 'Courier New', Courier, monospace;
  }